{% extends 'medicines/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>Ваша персональная аптека</h1>
    <p1>Вы попали в чудесный мир онлайн аптеки! Здесь Вы найдете лекарства, которые помогут подлатать Ваше здоровье.</p1>
    <h1>Полюбуйтесь милой собачкой</h1>
    <h1>и получите заряд хорошего настроения на весь день!</h1>
    <img src="{{ image_url }}" alt="Such image doesn't exist :(" style="max-width: 500px;">

</div>

{% endblock %}
