{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Список лекарств{% endblock %}

{% block content %}
<div class="features">
    <h1>Список лекарств</h1>
    {% if posts %}
        {% for p in posts %}
            <div class="alert alert-warning">
                <h3>{{p.title}}</h3>
                <p>{{p.content|linebreaks}}</p>
                <p>Категория: {{p.category}}</p>
                <p>Цена: {{p.price}}</p>
                <p>Количество: {{p.quantity}}</p>
                {% if p.photo %}
                    <p><img class="img-left thumb" src="{{p.photo.url}}"></p>
                {% endif %}
                <a href="{{ p.get_absolute_url }}" class="btn btn-warning">Купить</a>
                <hr>
            </div>
          {% endfor %}
    {% else %}
        <p>Лекарств нет в продаже.</p>
    {% endif %}
</div>


{% endblock %}