{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{title}}</h1>
    {% if posts %}
        {% for p in posts %}
            <div class="alert alert-warning">
                <h3>{{p.title}}</h3>
                <p>{{p.content|linebreaks}}</p>
                <p>Категория: {{p.category}}</p>
                <p>Цена: {{p.price}}</p>
                <p>Количество: {{p.quantity}}</p>
                <img src="{{ p.photo_url }}" alt="Such image doesn't exist :(" style="max-width: 500px;">
                <a href="{{ p.get_absolute_url }}" class="btn btn-warning">Купить</a>
                <hr>
            </div>
          {% endfor %}
    {% else %}
        <p>Лекарств нет в продаже.</p>
    {% endif %}
</div>


{% endblock %}